<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:07</td>   <td>0</td> <td title="&gt;&gt;ExtentReportDemoTestNG.setup()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:07</td>   <td>369</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportDemoTestNG.setuptest()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">&gt;&gt;setuptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:19</td>   <td>12968</td> <td title="&lt;&lt;ExtentReportDemoTestNG.tearDown()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:17</td>   <td>10210</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportDemoTestNG.tearDownTest()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:11</td>   <td>4871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportDemoTestNG.test1()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">test1</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:17</td>   <td>10190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportDemoTestNG.test2()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">test2</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/05/18 19:12:17</td>   <td>10202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportDemoTestNG.test3()[pri:0, instance:test.ExtentReportDemoTestNG@3532ec19]">test3</td> 
  <td>main@1308244637</td>   <td></td> </tr>
</table>
