<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>19/05/07 17:30:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGdemo.setupTest()[pri:0, instance:test.TestNGdemo@4501b7af]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/07 17:30:32</td>   <td>12924</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGdemo.tearDownTest()[pri:0, instance:test.TestNGdemo@4501b7af]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/05/07 17:30:30</td>   <td>10966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGdemo.testDemo()[pri:0, instance:test.TestNGdemo@4501b7af]">testDemo</td> 
  <td>main@125622176</td>   <td></td> </tr>
</table>
